
.axis text {
  font: 20px sans-serif;
  fill: #707070;
}

/*
.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}*/


#png-container {
	position: absolute;
	top: 0;
}

#canvas {
    visibility:hidden;
}
